.title {text-align:center;margin-top:150px;}
.titleSub {text-align:center;}
.food {width:200px;margin:20px auto;border-radius:5px;color:black;}
.moreBtn {display:block;width:200px;height:54px;line-height:54px;margin:0 auto;font-size:18px;border:1px solid #000;border-radius:10px;text-align:center;}